In [1]:
질문 = input("당신의 이름은?") ###옆에 별표는 실행ㅍ중인것.

당신의 이름은?

In [2]:
print("정답입니다! {}님 어서 오세요!" .format(질문))

정답입니다! 님 어서 오세요!

### num1 = input("첫번째 숫자 : ")
num2 = input("두번째 숫자 : ")

print("결과 :", int(num1)+int(num2))

num1 = int(input("첫번째 숫자 : "))
num2 = int(input("두번째 숫자 : "))

print("결과 :", num1+num2)

In [3]:
질문 = input("김정호 이십니까?")

김정호 이십니까?


## 2. 제어문 (Control statement)

    1) 조건문 ( 만약 조건이 참이라면 ~)
       -if
       -switch

    2) 반복문
        -while
        -for
        -주의할 점
            +무한 반복
            +반복 횟수

#### (1) if


       1) 첫번째 유형
          if 조건식 : 
               문장
               ....
               
               
               if 조건식 : 문장 
               
               
        2) 두번째 유형 
            if 조건식 : 
               문장
               ....
               else
               
               
         3) 세번째 유형 (다중 if문)          
              
            if 조건식 : 
               문장
               ....
            elif조건식 :
                문장
                ...
            elif조건식 :
                문장
                ...
            [else : 
                문장
                   ...]
                   
           4) 조건문의 중첩(nested)
                if 조건식 :
                   문장
                   ....
                   
                   if 조건식 :
                        문장
                        ...

In [23]:
##### 입력받은 숫자가 짝수/홀수 인지 판별하는 프로그램

#1번유형

num1= int(input("숫자 : "))

if num1 % 2 == 0 :
    
    print (num1,"짝수 입니다")

if num1 % 2 != 0 : 
    
    print("홀수 입니다.")

숫자 : 3
홀수 입니다.

In [31]:

#2번유형

num1= int(input("숫자 :"))

if num1 % 2 != 0 :
    print(num1, "은 홀수 입니다")
    
    # if num1 % 2 != 0 : print("홀수 입니다.") 안해도 else 쓰면 나머지는 바뀜
    
else:
    print(num1, "은 짝수 입니다")

숫자 :1
1 은 홀수 입니다

In [4]:
#### 입력받은 값이 a,b,c,d 이면 "정답" 이라고 출력하고 그렇지 않으면"오답" 출력


#2번 유형의 진화버전

result = input("집은 어디십니까?: ")

if result == "서울" or result == "광주" or result =="안산" or result=="인천" :
     print("정답")
else:
     print("오답")

KeyboardInterrupt: Interrupted by user

In [ ]:
        
        ans = input("질문 : ")
if ans >= 'a' and ans <= 'y':
    print("정답")
else:
    print("오답")

In [41]:
print(ord('a'), ord('b'), ord('A'), ord('B'))
print(chr(97), chr(98) , chr(65), chr(66))

##ASIC 2 코드

## 나중에 다시보자.

97 98 65 66
a b A B

In [66]:
##### 다중 if 문

##3번 유형


유정이평균 = 70

if 유정이평균 >=90 :
    print("A+학점")
elif 유정이평균 >=80 :
    print("A0학점")
elif 유정이평균 >=70 :
    print("B+학점")
elif 유정이평균 >=60 :
    print("B0학점")
elif 유정이평균 >=50 :
    print("C+학점")
elif 유정이평균 >=40 :
    print("C0학점")
elif 유정이평균 >=30 :
    print("D+학점")    
else : 
    print("F학점")

B+학점

In [78]:
#### 조건문의 중첩



a, b, c, d =  123, 100 , 150 ,97



if b > c : 
    if a > d :
        print("가")
    else :
        print("나")
        
else: 
        if b > d :
            print("다")
        else : 
            print("라")
            
            
# 만약 b>c 보다 크다면 거기서 가,나 중에 하나 선택
# 하지만 b>c가 아니라면 다,라 중에서 하나 선택

다

In [6]:
import random

random.randint(0,5)

3


----

### (2) while

    while 조건식 : 
        문장
        ...
        끝나는 시점을 만들어줘야함 아니면 무한반복임

In [5]:
print("**********")
print("*"*10)
print("s"*15)

cnt = 0 
while cnt < 10:
    print("e", end="") 
    cnt = cnt + 1 # 꼭 해줘야함 안그러면 무한반복.
    

print("\n--------------------------------------\n")    
    
cnt = 0
while cnt < 5:
    print("유정" ,end="")
    cnt = cnt+1

**********
**********
sssssssssssssss
eeeeeeeeee
--------------------------------------

유정유정유정유정유정

In [91]:
###### 1부터 10까지의 합계

cnt = 1
sum = 0

while cnt < 10:
    sum = sum+ cnt
    
    cnt = cnt+1
    
    print("결과: ",sum)

결과:  1
결과:  3
결과:  6
결과:  10
결과:  15
결과:  21
결과:  28
결과:  36
결과:  45

In [96]:
###### 2의 10승 : 1024

cnt = 0 
sum = 1 #초기값


while cnt < 10:
    sum *=10
    cnt= cnt+1
    
    print("결과:" ,sum)

결과: 10
결과: 100
결과: 1000
결과: 10000
결과: 100000
결과: 1000000
결과: 10000000
결과: 100000000
결과: 1000000000
결과: 10000000000

---

### (3) for
    for 변수 in 집합자료형 : 
        문장
        ....

In [119]:
data = [10,20,"홍길동",3.14,False]

cnt = 0 
while cnt< 5: 
    print(data[cnt])
    cnt += 1

print("-------------------")

for v in data :
      print(v)
        
print("-------------------")

for v in ["유정","정호","섹스",1,1,1,1,"2"]:
       print("3", end="")
        
print()   
    
print("---------------------------")

for v in range(826) : 
    print("3", end="")

10
20
홍길동
3.14
False
-------------------
10
20
홍길동
3.14
False
-------------------
33333333
---------------------------
3333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333



### (4) 반복문의 강제 종료

+ break : 완전 종료
+ continue : 일시 종료

In [118]:
 for v in range(50) :
    if  v == 25:
        #break    # 5부터 다 빠짐
        continue # 5만빠짐
        
    print(v)

print("\n-----------------------\n")

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49

-----------------------

전자 계산기 프로그램 사칙연산
연산자 : +
    숫자 : 10 
        숫자2 : 5
            결과 10+5 =15

---

### (5)반복문의 중첩

In [120]:
"""
**********
**********
**********
"""

for v1 in range(5): # 행의 개념
    for v2 in range(5): # 열의 개념
        print("A",end="")
    print()

AAAAA
AAAAA
AAAAA
AAAAA
AAAAA

In [131]:
"""
*
**
***
****
*****
******
"""

for v1 in range(6): # 행의 개념
    for v2 in range(v1+1): # 열의 개념
        print("*",end="")
    print()
 

    ##6 줄이긴한데 0이 생략 되어있어서 그런거임. 근데 거기에 +1 해주닌깐 1,2,3,4,5,6
    
    


    
for v1 in range(6):
    for v2 in range(v1):
        print("*", end = "")
    print()
    
    
    
    
    # 0 이 생략되었음 왜 근데 5개냐? v1+1 을 안해줘서그럼.

*
**
***
****
*****
******

*
**
***
****
*****

In [138]:
"""
     *
    ***
   *****
  *******
 *********
"""

for v1 in range(6):
    for v2 in range(v1*2-1):
        print("*", end = "")
    print()

*
***
*****
*******
*********

(6) List Comprehension 

[o,o,o,o,o,o,o,o]
[반복문.........]

In [152]:
a=[]

for i in range(10):
        a.append(i)
    
print(a)


################################

a = [i for i in range(10)] # 어펜드 생략한 i 를 넣어주면 차곡차곡 쌓인다. !
print(a)

print("\n--------------------------\n")

a = []

for i in range(10):
    if i % 2!= 0:
        a.append(i)
        
print(a)

##############################

a = [ i for i in range(10) if i % 2 == 0 ]
print(a)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

--------------------------

[1, 3, 5, 7, 9]
[0, 2, 4, 6, 8]

In [156]:
c1 = ["A","B","C"]

c2 = ["D","E","A"]

# ["AD","AE","AA","BD","BE","BA","CD","CE","CA"]

result = []
for row in c1:
    for col in c2:
        result.append(row + col)
        
        print(result)


# for row in c1 한번돌때 for col in c2 세번돈다

result = [row+col for row in c1 for col in c2]
print(result)


# ["AD","AE","AA","BD","BE","BA","CD","CE","CA"]


result = []
for row in c1:
    for col in c2:
        if row !=col:
            result.append(row + col)   
    
print(result)

result = [row+col for row in c1 for col in c2 if not row == col]
print(result)


print("\n-----------------------------\n")

# [["AD","AE","AA"],[]"BD","BE","BA"],[]"CD","CE","CA"]]

['AD']
['AD', 'AE']
['AD', 'AE', 'AA']
['AD', 'AE', 'AA', 'BD']
['AD', 'AE', 'AA', 'BD', 'BE']
['AD', 'AE', 'AA', 'BD', 'BE', 'BA']
['AD', 'AE', 'AA', 'BD', 'BE', 'BA', 'CD']
['AD', 'AE', 'AA', 'BD', 'BE', 'BA', 'CD', 'CE']
['AD', 'AE', 'AA', 'BD', 'BE', 'BA', 'CD', 'CE', 'CA']
['AD', 'AE', 'AA', 'BD', 'BE', 'BA', 'CD', 'CE', 'CA']
['AD', 'AE', 'BD', 'BE', 'BA', 'CD', 'CE', 'CA']
['AD', 'AE', 'BD', 'BE', 'BA', 'CD', 'CE', 'CA']

-----------------------------