In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import matplotlib.pyplot as plt

import warnings
warnings.filterwarnings(action="ignore")

import matplotlib.font_manager as fm
font_name = fm.FontProperties(fname="C:/Windows/Fonts/malgun.ttf").get_name()
plt.rc("font", family=font_name)

import matplotlib as mpl
mpl.rcParams["axes.unicode_minus"] = False


import urllib.request as req
from urllib.request import urlopen
from urllib.error import HTTPError,URLError
import urllib.parse
from bs4 import BeautifulSoup
import requests

from sklearn import linear_model
from scipy import stats
import statsmodels
import statsmodels.api as sm
import statsmodels.formula.api as smf
import statsmodels.stats.api as sms
from statsmodels.compat import lzip

import seaborn as sns
import matplotlib.pyplot as plt
from mpl_toolkits.mplot3d import Axes3D

plt.rcParams['figure.figsize'] = (7, 7)
plt.style.use('ggplot')
from patsy import dmatrix, dmatrices
from statsmodels.stats.outliers_influence import variance_inflation_factor

In [2]:
df = pd.read_csv("data/notjinhaeng-1-6460.csv", index_col = 0)  # 수집한 전체 데이터 불러오기

In [3]:
df

                                   상품명    현재 펀딩 금액  펀딩 퍼센트       목표금액   후원자 수
0        기독교 대천사부터 본디에이의 천사까지, <천사소개록>  84,418,200     959  8,800,000  2,729명
1         게으른 완벽주의자들을 위한 플래너 <데일리 처방전>  16,690,000     525  3,173,279    592명
2          고전에서 발굴한 해몽 기록, <꿈보다 해몽> 도감  12,837,000     641  2,000,000    613명
3          기다리고 기다렸다! 창작자를 위한 테크웨어 브러쉬  21,411,000    1427  1,500,000    438명
4            왕이 사랑한 보석같은 궁중디저트를 선물합니다.   8,911,000     891  1,000,000    126명
...                                ...         ...     ...        ...     ...
6415  올 여름 무더위를 날려버릴 99년생 보컬들의 구구콘 라이브   8,157,000     326  2,500,000    208명
6416      건국대학교 중앙연극동아리 건대극장 '베니스의 상인'   1,305,000     326    400,000     68명
6417         1년 12달, 12가지 개성을 담은 드레스퍼퓸   1,630,500     326    500,000     40명
6418         지켜낸 그들에게 건네는 위로, <연극> 그 날   3,261,000     326  1,000,000    115명
6419      초보집사의 동거생활 <가난한 집사, 냥님을 모시다>     581,000     326      배송 완료     22명

[6420 rows x 5 columns]

In [4]:
df1 = df

In [5]:
df1 = df1.drop_duplicates(['상품명']) #중복된 항목 제거

In [6]:
df1

                                   상품명    현재 펀딩 금액  펀딩 퍼센트       목표금액   후원자 수
0        기독교 대천사부터 본디에이의 천사까지, <천사소개록>  84,418,200     959  8,800,000  2,729명
1         게으른 완벽주의자들을 위한 플래너 <데일리 처방전>  16,690,000     525  3,173,279    592명
2          고전에서 발굴한 해몽 기록, <꿈보다 해몽> 도감  12,837,000     641  2,000,000    613명
3          기다리고 기다렸다! 창작자를 위한 테크웨어 브러쉬  21,411,000    1427  1,500,000    438명
4            왕이 사랑한 보석같은 궁중디저트를 선물합니다.   8,911,000     891  1,000,000    126명
...                                ...         ...     ...        ...     ...
6415  올 여름 무더위를 날려버릴 99년생 보컬들의 구구콘 라이브   8,157,000     326  2,500,000    208명
6416      건국대학교 중앙연극동아리 건대극장 '베니스의 상인'   1,305,000     326    400,000     68명
6417         1년 12달, 12가지 개성을 담은 드레스퍼퓸   1,630,500     326    500,000     40명
6418         지켜낸 그들에게 건네는 위로, <연극> 그 날   3,261,000     326  1,000,000    115명
6419      초보집사의 동거생활 <가난한 집사, 냥님을 모시다>     581,000     326      배송 완료     22명

[6399 rows x 5 columns]

In [7]:
df2 = pd.read_csv("data/jinhaeng1.csv", index_col = 0) 
df2 = df2.loc[:, ["상품명","현재 펀딩 금액","펀딩 퍼센트","목표금액","후원자 수"]]
df2 # 진행중인 프로젝트 데이터 불러오기

                                 상품명     현재 펀딩 금액  펀딩 퍼센트        목표금액    후원자 수
0     프리랜서 작가로 한 달에 400~1000만 원 버는 법   21,305,777    4261     500,000     611명
1      기독교 대천사부터 본디에이의 천사까지, <천사소개록>   81,663,900     927   8,800,000   2,637명
2           데뷔 못 하면 죽는 병 걸림 1차 공식 굿즈  423,791,000    4237  10,000,000  13,866명
3       500가지 기호와 상징 <SYMBOLS> 심볼 사전  158,012,700    1053  15,000,000   4,257명
4    월간커피, 군밤과 군고구마 같은 겨울 간식 콜드브루 커피    6,730,000    1346     500,000     306명
..                               ...          ...     ...         ...      ...
9   나만의 디자인만들기, 입체아크릴포스터 'Day&Night'            0       0     500,000       0명
10                        오늘도 쇼핑을 했다            0       0   1,000,000       0명
11                           꿈의 회전목마            0       0   2,000,000       0명
12  집사의 작은 행동이, 댕댕이 양치질로. 양치 습관 다이어리            0       0   2,000,000       0명
13                연애의 기술 -아낌없이 표현하라-            0       0   1,000,000       0명

[512 rows x 5 columns]

In [8]:
df1_cut = df1.loc[:, ["상품명"]]
df2_cut = df2.loc[:, ["상품명"]]
df2_cut

                                 상품명
0     프리랜서 작가로 한 달에 400~1000만 원 버는 법
1      기독교 대천사부터 본디에이의 천사까지, <천사소개록>
2           데뷔 못 하면 죽는 병 걸림 1차 공식 굿즈
3       500가지 기호와 상징 <SYMBOLS> 심볼 사전
4    월간커피, 군밤과 군고구마 같은 겨울 간식 콜드브루 커피
..                               ...
9   나만의 디자인만들기, 입체아크릴포스터 'Day&Night'
10                        오늘도 쇼핑을 했다
11                           꿈의 회전목마
12  집사의 작은 행동이, 댕댕이 양치질로. 양치 습관 다이어리
13                연애의 기술 -아낌없이 표현하라-

[512 rows x 1 columns]

In [9]:
df_INNER_JOIN = pd.merge(df1_cut, df2_cut, left_on='상품명', right_on='상품명', how='inner')
df_INNER_JOIN # 두 데이터 프레임에서 상품명만 뽑아서 겹치는 항목만 추출

                                상품명
0     기독교 대천사부터 본디에이의 천사까지, <천사소개록>
1      게으른 완벽주의자들을 위한 플래너 <데일리 처방전>
2       고전에서 발굴한 해몽 기록, <꿈보다 해몽> 도감
3       기다리고 기다렸다! 창작자를 위한 테크웨어 브러쉬
4         왕이 사랑한 보석같은 궁중디저트를 선물합니다.
5        2022년 수묵 담채 호랑이 탁상용 캘린더 2종
6      모두의 추리로 완성되는 마피아 게임 [죄수들의 밤]
7        하얗고 포근한 눈을 닮은 살냄새 향수 <스노이>
8       2022년 나와의 약속을 각인시켜 줄 '작심반지'
9          조주(Jojoo) 첫 EP앨범 [지도] 제작
10  [용기내 챌린지]귀여운 수달캐릭터를 담은 빵순이 식빵용기
11  책한권으로 330만원 번 모든 노하우/얼리버드 8900원
12    상큼한 귤호떡을 집에서도 간편하게 소은 귤호떡 밀키트
13         멸종위기 1급 두루미를 위한 <도로미 팔찌>
14       시한부 여배우의 꿈 - 영화 <속절없는 쪽으로>
15    화이트 티, 우아한 향에 취할 수 있으니 조심하세요!
16    화이트 티, 우아한 향에 취할 수 있으니 조심하세요!
17   [그림책] 초등학생들이 밝힌다! IT의 성차별 핫IT슈
18          우리는 ( )에 관해 말합니다, <가시화>
19  <웰컴2022 달력> 2022년을 아름답게 시작해보세요!
20   평범한 레즈비언, 나라와 아인의 이야기 <인어의 나라>
21  '좋아요'로 전할 수 없는 마음, 절기 엽서에 담아보세요
22       [스케치업 웹툰 배경] 세계의 무기 Part 3
23     <슬로우 칸쿤> 느릿한 여행을 담은 힐링 일러스트북
24  <옛날 괴물도> 한국전통민화동물 타로 겸용 트럼프 80장
25       멀지 않으니까 가끔 놀러 와요, <어제의 바람>
26     우리들 모두의 시행착오를 위해, <똥차타고 과속->
27    [ HOMEBODY ] 집을 사랑하는 우리들의 이야기
28    백두산 호랑이가 사라진 이유 <백두산 호랑신 대작전>
29              중세 판타지 3D 아이템 소재 세트
30     개한테 온 마음과 지갑을 뺏긴 <개엄마의 열두 달>
31  여러분의 공간을 지켜줄, 수호신 인센스홀더-수 / SOO
32      무뎌지는 것에 대하여 : 무용필름 <오해와 착각>
33         장편동화 <별이와 무지개다리> 출간 프로젝트
34  영어덜트 어반 판타지 청소년 성장소설 '나는 사라진다.'
35  한 번쯤 가보고 싶은, <하늘과 물결을 연결하는 다리들>
36                          꿈의 회전목마

In [10]:
list_of_single_column = list(df_INNER_JOIN['상품명'])              ##### df1 : 성사된 / df2: 진행중
list_of_single_column  #겹치는 상품 리스트 타입으로 변환

df_final = df1[~df1['상품명'].isin(list_of_single_column)] # 성사된 프로젝트만 추출 완료
df_final

                                   상품명   현재 펀딩 금액  펀딩 퍼센트       목표금액 후원자 수
11               함께 써내려가는 당신의 유서, 아포피스  6,489,295     324  2,000,000  115명
12                  술에 우리는 블렌딩티 [리큐르티]  5,198,000     103  5,000,000   74명
13           [남매 프로젝트]튀기지 않아도 꾸덕한 남매약과  4,892,500     978  5,000,000  132명
14                      <서울캥거루의 독립운동기>    605,777     121    500,000   24명
15          [라플레르] 프리지아, 당신의 앞날을 축복할게요  4,078,000     815    500,000   85명
...                                ...        ...     ...        ...   ...
6415  올 여름 무더위를 날려버릴 99년생 보컬들의 구구콘 라이브  8,157,000     326  2,500,000  208명
6416      건국대학교 중앙연극동아리 건대극장 '베니스의 상인'  1,305,000     326    400,000   68명
6417         1년 12달, 12가지 개성을 담은 드레스퍼퓸  1,630,500     326    500,000   40명
6418         지켜낸 그들에게 건네는 위로, <연극> 그 날  3,261,000     326  1,000,000  115명
6419      초보집사의 동거생활 <가난한 집사, 냥님을 모시다>    581,000     326      배송 완료   22명

[6363 rows x 5 columns]

In [11]:
df_final.isnull()

        상품명  현재 펀딩 금액  펀딩 퍼센트   목표금액  후원자 수
11    False     False   False  False  False
12    False     False   False  False  False
13    False     False   False  False  False
14    False     False   False  False  False
15    False     False   False  False  False
...     ...       ...     ...    ...    ...
6415  False     False   False  False  False
6416  False     False   False  False  False
6417  False     False   False  False  False
6418  False     False   False  False  False
6419  False     False   False  False  False

[6363 rows x 5 columns]

## 목표금액 "배송 완료"  결측치 대체

In [12]:
df_final.to_csv("data/df_final.csv", encoding = "utf-8")

In [13]:
df1 = pd.read_csv("data/df_final.csv", index_col = 0, thousands = ',')

In [14]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6363 entries, 11 to 6419
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   상품명       6363 non-null   object
 1   현재 펀딩 금액  6363 non-null   int64
 2   펀딩 퍼센트    6363 non-null   int64
 3   목표금액      6363 non-null   object
 4   후원자 수     6363 non-null   object
dtypes: int64(2), object(3)
memory usage: 298.3+ KB

In [15]:
df1["목표금액"] = df1["목표금액"].str.replace(',', '')

In [16]:
df1

                                   상품명  현재 펀딩 금액  펀딩 퍼센트     목표금액 후원자 수
11               함께 써내려가는 당신의 유서, 아포피스   6489295     324  2000000  115명
12                  술에 우리는 블렌딩티 [리큐르티]   5198000     103  5000000   74명
13           [남매 프로젝트]튀기지 않아도 꾸덕한 남매약과   4892500     978  5000000  132명
14                      <서울캥거루의 독립운동기>    605777     121   500000   24명
15          [라플레르] 프리지아, 당신의 앞날을 축복할게요   4078000     815   500000   85명
...                                ...       ...     ...      ...   ...
6415  올 여름 무더위를 날려버릴 99년생 보컬들의 구구콘 라이브   8157000     326  2500000  208명
6416      건국대학교 중앙연극동아리 건대극장 '베니스의 상인'   1305000     326   400000   68명
6417         1년 12달, 12가지 개성을 담은 드레스퍼퓸   1630500     326   500000   40명
6418         지켜낸 그들에게 건네는 위로, <연극> 그 날   3261000     326  1000000  115명
6419      초보집사의 동거생활 <가난한 집사, 냥님을 모시다>    581000     326    배송 완료   22명

[6363 rows x 5 columns]

In [17]:
new_wish = df1["현재 펀딩 금액"] / df1["펀딩 퍼센트"]

for i in range(len(df1["목표금액"].values)):         # i는 순번
    if df1["목표금액"].values[i] == "배송 완료":
        df1["목표금액"].values[i] = new_wish.values[i].astype('int')
    else: 
        pass

df1["목표금액"] = df1["목표금액"].values

In [18]:
df1

                                   상품명  현재 펀딩 금액  펀딩 퍼센트     목표금액 후원자 수
11               함께 써내려가는 당신의 유서, 아포피스   6489295     324  2000000  115명
12                  술에 우리는 블렌딩티 [리큐르티]   5198000     103  5000000   74명
13           [남매 프로젝트]튀기지 않아도 꾸덕한 남매약과   4892500     978  5000000  132명
14                      <서울캥거루의 독립운동기>    605777     121   500000   24명
15          [라플레르] 프리지아, 당신의 앞날을 축복할게요   4078000     815   500000   85명
...                                ...       ...     ...      ...   ...
6415  올 여름 무더위를 날려버릴 99년생 보컬들의 구구콘 라이브   8157000     326  2500000  208명
6416      건국대학교 중앙연극동아리 건대극장 '베니스의 상인'   1305000     326   400000   68명
6417         1년 12달, 12가지 개성을 담은 드레스퍼퓸   1630500     326   500000   40명
6418         지켜낸 그들에게 건네는 위로, <연극> 그 날   3261000     326  1000000  115명
6419      초보집사의 동거생활 <가난한 집사, 냥님을 모시다>    581000     326     1782   22명

[6363 rows x 5 columns]

In [19]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6363 entries, 11 to 6419
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   상품명       6363 non-null   object
 1   현재 펀딩 금액  6363 non-null   int64
 2   펀딩 퍼센트    6363 non-null   int64
 3   목표금액      6363 non-null   object
 4   후원자 수     6363 non-null   object
dtypes: int64(2), object(3)
memory usage: 298.3+ KB